# **Various Types of Data Structure in Python**

##**1. List**

In [ ]:
A = [11, "Sharmita", 3.65, 'Apple', True, False, "Cherry", "Banana"]
A

[11, 'Sharmita', 3.65, 'Apple', True, False, 'Cherry', 'Banana']

####**Indexing (Left to Right)**

In [ ]:
print(A[2]) #to print the 3rd element from the left

3.65

####**Indexing Right to Left**

In [ ]:
print(A[-2]) #to print the 2nd element from the right

Cherry

This means the Lists are ordered.

####**Adding an element**

In [ ]:
A[5]= "SpiderMan" # adding this element in the 5th position from the left

In [ ]:
A

[11, 'Sharmita', 3.65, 'Apple', True, 'SpiderMan', 'Cherry', 'Banana']

This means that List is also editable.

####**To check all the methods available for Lst**

In [ ]:
dir(A)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

###**append()**

In [ ]:
A.append('Marvel') # to add an element at the end of the list
A

[11,
 'Sharmita',
 3.65,
 'Apple',
 True,
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel']

###**copy()**

In [ ]:
B = A.copy() # to make a copy of a list
B

[11,
 'Sharmita',
 3.65,
 'Apple',
 True,
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel']

###**count()**

In [ ]:
A.count('Sharmita') # to check how many times the specified element has appeared in that list

1

###**extend()**

In [ ]:
A.extend([4,5,6]) # to add the elements of a list (or any iterable), to the end of the current list
A

[11,
 'Sharmita',
 3.65,
 'Apple',
 True,
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel',
 4,
 5,
 6]

####**insert()**

In [ ]:
A.insert(5,'Apple') # to insert the element in the specified index position
A

[11,
 'Sharmita',
 3.65,
 'Apple',
 True,
 'Apple',
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel',
 4,
 5,
 6]

####**index()**

In [ ]:
A.index('Apple') # to check the first index position of a specified value

3

####**pop()**

In [ ]:
A.pop(2) #to remove the element at the specified position

3.65

In [ ]:
A

[11,
 'Sharmita',
 'Apple',
 True,
 'Apple',
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel',
 4,
 5,
 6]

####**remove()**

In [ ]:
A.remove('Apple') # to remove the first occurance of the specified value

In [ ]:
A

[11,
 'Sharmita',
 True,
 'Apple',
 'SpiderMan',
 'Cherry',
 'Banana',
 'Marvel',
 4,
 5,
 6]

####**reverse()**

In [ ]:
A.reverse() # to reverse the positions of the elements in the list

In [ ]:
A

[6,
 5,
 4,
 'Marvel',
 'Banana',
 'Cherry',
 'SpiderMan',
 'Apple',
 True,
 'Sharmita',
 11]

####**clear()**

In [ ]:
A.clear() #to clear all the elements from the list

In [ ]:
A  #this becomes a null set

[]

####**sort()**

In [ ]:
C = [1,67,99.5]

In [ ]:
C.sort() # to sort the elements in the list
C

[1, 67, 99.5]

##**2. Set**

In [ ]:
set1 = {"Sharmita", "Sidharth", 99.984, "Chris", 78, "Apple", 95, "Sun", "Moon", 45, "Apple", "Sharmita", 78}
set2 = {"Sharmita", 99.984, "Chris", "Apple", "Sun", 45}

In [ ]:
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

the positions of the element has changed and the duplicate appearances of the elements has been deleted. It only gives UNIQUE ELEMENTS in the result. And SET is unordered.

In [ ]:
dir(set1) #to check all the methoids available for set

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

####**add()**

In [ ]:
set1.add("London") # to add an element in the set
set1

{45,
 78,
 95,
 99.984,
 'Apple',
 'Chris',
 'London',
 'Moon',
 'Sharmita',
 'Sidharth',
 'Sun'}

####**copy()**

In [ ]:
s1 = set1.copy() # to make a copy of the set
s1

{45,
 78,
 95,
 99.984,
 'Apple',
 'Chris',
 'London',
 'Moon',
 'Sharmita',
 'Sidharth',
 'Sun'}

####**difference()**

In [ ]:
set1.difference(set2) # it gives the difference of the set with another specified set

{78, 95, 'London', 'Moon', 'Sidharth'}

####**difference_update()**

In [ ]:
set1.difference_update(set2) #to remove the items in the set that are also included in another specified set

In [ ]:
set1

{78, 95, 'London', 'Moon', 'Sidharth'}

In [ ]:
set1 = {"Sharmita", "Sidharth", 99.984, "Chris", 78, "Apple", 95, "Sun", "Moon", 45, "Apple", "Sharmita", 78}
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

####**discard()**

In [ ]:
set1.discard('Sharmita') # to remove the specified element from the set
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sidharth', 'Sun'}

####**intersection()**

In [ ]:
set1.intersection(set2) # to check the intersection the set with another specified set

{45, 99.984, 'Apple', 'Chris', 'Sun'}

####**intersection_update()**

In [ ]:
set1.intersection_update(set2) # to remove the elements in the set that are not present in the specified another set
set1

{45, 99.984, 'Apple', 'Chris', 'Sun'}

In [ ]:
set1 = {"Sharmita", "Sidharth", 99.984, "Chris", 78, "Apple", 95, "Sun", "Moon", 45, "Apple", "Sharmita", 78}
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

####**isdisjoint()**

In [ ]:
set1.isdisjoint(set2) # to check whether the set is disjoint with specified anothert set or not

False

####**issubset()**

In [ ]:
set1.issubset(set2) #to check whether the specified another set contains all the elements of this set or not

False

####**issuperset()**

In [ ]:
set1.issuperset(set2) # to check whether this set contains the specified another set or not

True

####**pop()**

In [ ]:
set1.pop() # it randomly deletes one element from the set

'Sidharth'

####**remove()**

In [ ]:
set1.remove(99.984) # to delete the specified element from the set
set1

{45, 78, 95, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sun'}

####**symmetric_difference()**

In [ ]:
set1.symmetric_difference(set2) # it returns the set with the symmetric differences of two sets

{78, 95, 99.984, 'Moon'}

####**symmetric_difference_update()**

In [ ]:
set1.symmetric_difference_update(set2) #it updates the set with the symmetric differences of two sets
set1

{78, 95, 99.984, 'Moon'}

In [ ]:
set1 = {"Sharmita", "Sidharth", 99.984, "Chris", 78, "Apple", 95, "Sun", "Moon", 45, "Apple", "Sharmita", 78}
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

####**union()**

In [ ]:
set1.union(set2) # returns the set containing the union of the sets

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

####**update()**

In [ ]:
set1.update(set2) #it updates the set with union of this set and others
set1

{45, 78, 95, 99.984, 'Apple', 'Chris', 'Moon', 'Sharmita', 'Sidharth', 'Sun'}

####**clear()**

In [ ]:
set1.clear() # to clear all the elements of the set
set1

set()

##**3. Tuple**

In [ ]:
t = (1, 'Sharmi', 'SRK', 4.44, 'h', 'Sharmi')
t

(1, 'Sharmi', 'SRK', 4.44, 'h', 'Sharmi')

###**Indexing**

In [ ]:
t[0] # indexing left to right

1

In [ ]:
t[-2] # indexing right to left

'h'

So, Tuple is ordered and so, indexed as well

In [ ]:
t[3]= 'Tiger'

TypeError: ignored

So, tuple once created, it is non editable

In [ ]:
dir(t) # to check all the available method for tuple

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

####**count()**

In [ ]:
t.count('Sharmi') # to check the number of times the specified element has appeared in the tuple

2

####**index()**

In [ ]:
t.index(4.44) # to check the positive index position for the specified element in the tuple

3

In [ ]:
t.index('Sharmi') # so it gives the first positive index position for any element that has appeared more than once

1

##**4. Dictionary**

In [ ]:
D = { "brand": "H&M", "Comic" : "Marvel", "year": 2022}
D

{'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022}

In [ ]:
D["Comic"]

'Marvel'

In Dictionary the values are indexed by a particular key.

In [ ]:
D[45] = 90 # added the value 90 for the key 45
D

{'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022, 45: 90}

Dictionary is editable

In [ ]:
dir(D) # to check all the available methods for dictionary

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

####**clear()**

In [ ]:
D.clear() # to clear all the elements from the dictionary

In [ ]:
D

{}

In [ ]:
D = {'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022, 45: 90}
D

{'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022, 45: 90}

####**copy()**

In [ ]:
E= D.copy() # to copy the dictionary
E

{'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022, 45: 90}

####**fromkeys()**

In [ ]:
D.fromkeys('brand',1) #gives a dictionary with the specified keys and value

{'b': 1, 'r': 1, 'a': 1, 'n': 1, 'd': 1}

In [ ]:
brand_key = {'b', 'r', 'a', 'n', 'd'} # another way
num=1
D.fromkeys(brand_key, num)

{'b': 1, 'r': 1, 'n': 1, 'd': 1, 'a': 1}

####**get()**

In [ ]:
D.get('Comic') # it gives the value of the specified key

'Marvel'

####**items()**

In [ ]:
D.items() # to get a list containing tuple for each key and value pair

dict_items([('brand', 'H&M'), ('Comic', 'Marvel'), ('year', 2022), (45, 90)])

####**keys()**

In [ ]:
D.keys() # to get the list containing the keys of the dictionary

dict_keys(['brand', 'Comic', 'year', 45])

####**pop()**

In [ ]:
D.pop(45) # it removes the element of which the key is specified
D

{'brand': 'H&M', 'Comic': 'Marvel', 'year': 2022}

####**popitem()**

In [ ]:
D.popitem() # it removes the last inserted key-value pair

('year', 2022)

In [ ]:
D

{'brand': 'H&M', 'Comic': 'Marvel'}

####**setdefault()**

In [ ]:
D.setdefault(' ', 50) #it gives the value of the specified key and it key doesn't exist, it inserts the key with the specified value

50

In [ ]:
D

{'brand': 'H&M', 'Comic': 'Marvel', ' ': 50}

####**update()**

In [ ]:
F = {"Place":"Paris"}
D.update(F) # to update with the soecified keys and values
D

{'brand': 'H&M', 'Comic': 'Marvel', ' ': 50, 'Place': 'Paris'}

####**values()**

In [ ]:
D.values() # it gives the list of all the values in the dictionary

dict_values(['H&M', 'Marvel', 50, 'Paris'])

###**To get the separate list of keys and values by one command**

In [ ]:
for k,v in D.items():
  print("Key = ", k)
  print(" Value = ", v)

Key =  brand
 Value =  H&M
Key =  Comic
 Value =  Marvel
Key =
 Value =  50
Key =  Place
 Value =  Paris

In [ ]:
for k,v in D.items():
  print("Key = ", k, end=",")
  print(" Value = ", v)
  # print-> by default changes the line!

Key =  brand, Value =  H&M
Key =  Comic, Value =  Marvel
Key =   , Value =  50
Key =  Place, Value =  Paris