The first thing we want to do is import numpy.

In [1]:
import numpy as np

Let us first define a Python list containing the ages of 6 people.

In [2]:
ages_list = [10, 5, 8, 32, 65, 43]
print(ages_list)

[10, 5, 8, 32, 65, 43]

There are 3 main ways to instantiate a Numpy ndarray object. One of these is to use `np.array(<collection>)`

In [3]:
ages = np.array(ages_list)
print(type(ages))
print(ages)

<class 'numpy.ndarray'>
[10  5  8 32 65 43]

In [4]:
print(ages)
print("Size:\t" , ages.size)
print("Shape:\t", ages.shape)

[10  5  8 32 65 43]
Size:	 6
Shape:	 (6,)

In [5]:
zeroArr = np.zeros(5)
print(zeroArr)

[0. 0. 0. 0. 0.]

### Multi-dim

Now let us define a new list containing the weights of these 6 people.

In [6]:
weight_list = [32, 18, 26, 60, 55, 65]

Now, we define an ndarray containing all fo this information, and again print the size and shape of the array.

In [7]:
people = np.array([ages_list, weight_list])

print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[10  5  8 32 65 43]
 [32 18 26 60 55 65]]
Size:	 12
Shape:	 (2, 6)

In [8]:
# 2 X 6 = 1 X 12 = 4 X 3 = 3 X 4 = 12 X 1 

people = people.reshape(12,1)
print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[10]
 [ 5]
 [ 8]
 [32]
 [65]
 [43]
 [32]
 [18]
 [26]
 [60]
 [55]
 [65]]
Size:	 12
Shape:	 (12, 1)

###### Note: The new shape must be the same "size" as the old shape

## Exercise 1

* Generate a 1D numpy array with the values [7, 9, 65, 33, 85, 99]

* Generate a matrix (2D numpy array) of the values:

\begin{align}
  \mathbf{A} =
  \begin{pmatrix}
    1 & 2 & 4 \\
    2 & 3 & 0 \\
    0 & 5 & 1
  \end{pmatrix}
\end{align}

* Change the dimensions of this array to another permitted shape

In [48]:
new_arr=[7,9,65,33,85,99]
arr=np.array(new_arr)
arr

array([ 7,  9, 65, 33, 85, 99])

In [50]:
new_matrix=np.array([[1,2,4],[2,3,0],[0,5,1]])
new_matrix

array([[1, 2, 4],
       [2, 3, 0],
       [0, 5, 1]])

In [56]:
new_matrix.reshape(9,1) # changed the dimension of arrey to 1 x 9

array([[1],
       [2],
       [4],
       [2],
       [3],
       [0],
       [0],
       [5],
       [1]])

## Array Generation

Instead of defining an array manually, we can ask numpy to do it for us.

The `np.arange()` method creates a range of numbers with user defined steps between each.

In [11]:
five_times_table = np.arange(0, 55, 5)
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

The `np.linspace()` method will produce a range of evenly spaced values, starting, ending, and taking as many steps as you specify.

In [12]:
five_spaced = np.linspace(0,50,11)
print(five_spaced)

[ 0.  5. 10. 15. 20. 25. 30. 35. 40. 45. 50.]

The `.repeat()` method will repeat an object you pas a specified number of times.

In [13]:
twoArr = np.repeat(2, 10)
print(twoArr)

[2 2 2 2 2 2 2 2 2 2]

The `np.eye()` functions will create an identity matrix/array for us.

In [14]:
identity_matrix = np.eye(6)
print(identity_matrix)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]

# Operations

There are many, many operations which we can perform on arrays. Below, we demonstrate a few.

What is happening in each line?

In [15]:
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [16]:
print("1:", 2 * five_times_table)
print("2:", 10 + five_times_table)
print("3:", five_times_table - 1)
print("4:", five_times_table/5)
print("5:", five_times_table **2)
print("6:", five_times_table < 20)

1: [  0  10  20  30  40  50  60  70  80  90 100]
2: [10 15 20 25 30 35 40 45 50 55 60]
3: [-1  4  9 14 19 24 29 34 39 44 49]
4: [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]
5: [   0   25  100  225  400  625  900 1225 1600 2025 2500]
6: [ True  True  True  True False False False False False False False]

### Speed Test

If we compare the speed at which we can do these operations compared to core python, we will notice a substantial difference.

In [17]:
fives_list = list(range(0,5001,5))
fives_list

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000,
 1005,
 1010,
 1015,
 1020,
 1025,
 1030,
 1035,
 1040,
 1045,
 1050,
 1055,
 1060,
 1065,
 1070,
 1075,
 1080,
 1085,
 1090,
 1095,
 1100,
 1105,
 1110,
 1115,
 1120,
 1125,
 1130,
 1135,
 1140,
 1145,
 1150,
 1155,
 1160,
 1165,
 1170,
 1175,
 1180,
 1185,
 1190,
 1195,
 1200,
 1205,
 1210,
 1215,
 1220,
 1225,
 1230,
 1235,
 1240,
 1245,
 1250,
 1255,
 1260,
 1265,
 1270,
 1275,
 1280,
 1285,
 1290,
 1295,
 1300,
 1305,
 1310,
 1315,
 1320,
 1325,
 1330,
 1335,
 1340,
 1345,
 1350,
 1355,
 1360,
 1365,
 1370,
 1375,
 1380,
 1385,
 1390,
 1395,
 1400,
 1405,
 1410,
 1415,
 1420,
 1425,
 1430,
 1435,
 1440,
 1445,
 1450,
 1455,
 1460,
 1465,
 1470,
 1475,
 1480,
 1485,
 1490,
 1495,
 1500,
 1505,
 1510,
 1515,
 1520,
 1525,
 1530,
 1535,
 1540,
 1545,
 1550,
 1555,
 1560,
 1565,
 1570,
 1575,
 1580,
 1585,
 1590,
 1595,
 1600,
 1605,
 1610,
 1615,
 1620,
 1625,
 1630,
 1635,
 1640,
 1645,
 1650,
 1655,
 1660,
 1665,
 1670,
 1675,
 1680,
 1685,
 1690,
 1695,
 1700,
 1705,
 1710,
 1715,
 1720,
 1725,
 1730,
 1735,
 1740,
 1745,
 1750,
 1755,
 1760,
 1765,
 1770,
 1775,
 1780,
 1785,
 1790,
 1795,
 1800,
 1805,
 1810,
 1815,
 1820,
 1825,
 1830,
 1835,
 1840,
 1845,
 1850,
 1855,
 1860,
 1865,
 1870,
 1875,
 1880,
 1885,
 1890,
 1895,
 1900,
 1905,
 1910,
 1915,
 1920,
 1925,
 1930,
 1935,
 1940,
 1945,
 1950,
 1955,
 1960,
 1965,
 1970,
 1975,
 1980,
 1985,
 1990,
 1995,
 2000,
 2005,
 2010,
 2015,
 2020,
 2025,
 2030,
 2035,
 2040,
 2045,
 2050,
 2055,
 2060,
 2065,
 2070,
 2075,
 2080,
 2085,
 2090,
 2095,
 2100,
 2105,
 2110,
 2115,
 2120,
 2125,
 2130,
 2135,
 2140,
 2145,
 2150,
 2155,
 2160,
 2165,
 2170,
 2175,
 2180,
 2185,
 2190,
 2195,
 2200,
 2205,
 2210,
 2215,
 2220,
 2225,
 2230,
 2235,
 2240,
 2245,
 2250,
 2255,
 2260,
 2265,
 2270,
 2275,
 2280,
 2285,
 2290,
 2295,
 2300,
 2305,
 2310,
 2315,
 2320,
 2325,
 2330,
 2335,
 2340,
 2345,
 2350,
 2355,
 2360,
 2365,
 2370,
 2375,
 2380,
 2385,
 2390,
 2395,
 2400,
 2405,
 2410,
 2415,
 2420,
 2425,
 2430,
 2435,
 2440,
 2445,
 2450,
 2455,
 2460,
 2465,
 2470,
 2475,
 2480,
 2485,
 2490,
 2495,
 2500,
 2505,
 2510,
 2515,
 2520,
 2525,
 2530,
 2535,
 2540,
 2545,
 2550,
 2555,
 2560,
 2565,
 2570,
 2575,
 2580,
 2585,
 2590,
 2595,
 2600,
 2605,
 2610,
 2615,
 2620,
 2625,
 2630,
 2635,
 2640,
 2645,
 2650,
 2655,
 2660,
 2665,
 2670,
 2675,
 2680,
 2685,
 2690,
 2695,
 2700,
 2705,
 2710,
 2715,
 2720,
 2725,
 2730,
 2735,
 2740,
 2745,
 2750,
 2755,
 2760,
 2765,
 2770,
 2775,
 2780,
 2785,
 2790,
 2795,
 2800,
 2805,
 2810,
 2815,
 2820,
 2825,
 2830,
 2835,
 2840,
 2845,
 2850,
 2855,
 2860,
 2865,
 2870,
 2875,
 2880,
 2885,
 2890,
 2895,
 2900,
 2905,
 2910,
 2915,
 2920,
 2925,
 2930,
 2935,
 2940,
 2945,
 2950,
 2955,
 2960,
 2965,
 2970,
 2975,
 2980,
 2985,
 2990,
 2995,
 3000,
 3005,
 3010,
 3015,
 3020,
 3025,
 3030,
 3035,
 3040,
 3045,
 3050,
 3055,
 3060,
 3065,
 3070,
 3075,
 3080,
 3085,
 3090,
 3095,
 3100,
 3105,
 3110,
 3115,
 3120,
 3125,
 3130,
 3135,
 3140,
 3145,
 3150,
 3155,
 3160,
 3165,
 3170,
 3175,
 3180,
 3185,
 3190,
 3195,
 3200,
 3205,
 3210,
 3215,
 3220,
 3225,
 3230,
 3235,
 3240,
 3245,
 3250,
 3255,
 3260,
 3265,
 3270,
 3275,
 3280,
 3285,
 3290,
 3295,
 3300,
 3305,
 3310,
 3315,
 3320,
 3325,
 3330,
 3335,
 3340,
 3345,
 3350,
 3355,
 3360,
 3365,
 3370,
 3375,
 3380,
 3385,
 3390,
 3395,
 3400,
 3405,
 3410,
 3415,
 3420,
 3425,
 3430,
 3435,
 3440,
 3445,
 3450,
 3455,
 3460,
 3465,
 3470,
 3475,
 3480,
 3485,
 3490,
 3495,
 3500,
 3505,
 3510,
 3515,
 3520,
 3525,
 3530,
 3535,
 3540,
 3545,
 3550,
 3555,
 3560,
 3565,
 3570,
 3575,
 3580,
 3585,
 3590,
 3595,
 3600,
 3605,
 3610,
 3615,
 3620,
 3625,
 3630,
 3635,
 3640,
 3645,
 3650,
 3655,
 3660,
 3665,
 3670,
 3675,
 3680,
 3685,
 3690,
 3695,
 3700,
 3705,
 3710,
 3715,
 3720,
 3725,
 3730,
 3735,
 3740,
 3745,
 3750,
 3755,
 3760,
 3765,
 3770,
 3775,
 3780,
 3785,
 3790,
 3795,
 3800,
 3805,
 3810,
 3815,
 3820,
 3825,
 3830,
 3835,
 3840,
 3845,
 3850,
 3855,
 3860,
 3865,
 3870,
 3875,
 3880,
 3885,
 3890,
 3895,
 3900,
 3905,
 3910,
 3915,
 3920,
 3925,
 3930,
 3935,
 3940,
 3945,
 3950,
 3955,
 3960,
 3965,
 3970,
 3975,
 3980,
 3985,
 3990,
 3995,
 4000,
 4005,
 4010,
 4015,
 4020,
 4025,
 4030,
 4035,
 4040,
 4045,
 4050,
 4055,
 4060,
 4065,
 4070,
 4075,
 4080,
 4085,
 4090,
 4095,
 4100,
 4105,
 4110,
 4115,
 4120,
 4125,
 4130,
 4135,
 4140,
 4145,
 4150,
 4155,
 4160,
 4165,
 4170,
 4175,
 4180,
 4185,
 4190,
 4195,
 4200,
 4205,
 4210,
 4215,
 4220,
 4225,
 4230,
 4235,
 4240,
 4245,
 4250,
 4255,
 4260,
 4265,
 4270,
 4275,
 4280,
 4285,
 4290,
 4295,
 4300,
 4305,
 4310,
 4315,
 4320,
 4325,
 4330,
 4335,
 4340,
 4345,
 4350,
 4355,
 4360,
 4365,
 4370,
 4375,
 4380,
 4385,
 4390,
 4395,
 4400,
 4405,
 4410,
 4415,
 4420,
 4425,
 4430,
 4435,
 4440,
 4445,
 4450,
 4455,
 4460,
 4465,
 4470,
 4475,
 4480,
 4485,
 4490,
 4495,
 4500,
 4505,
 4510,
 4515,
 4520,
 4525,
 4530,
 4535,
 4540,
 4545,
 4550,
 4555,
 4560,
 4565,
 4570,
 4575,
 4580,
 4585,
 4590,
 4595,
 4600,
 4605,
 4610,
 4615,
 4620,
 4625,
 4630,
 4635,
 4640,
 4645,
 4650,
 4655,
 4660,
 4665,
 4670,
 4675,
 4680,
 4685,
 4690,
 4695,
 4700,
 4705,
 4710,
 4715,
 4720,
 4725,
 4730,
 4735,
 4740,
 4745,
 4750,
 4755,
 4760,
 4765,
 4770,
 4775,
 4780,
 4785,
 4790,
 4795,
 4800,
 4805,
 4810,
 4815,
 4820,
 4825,
 4830,
 4835,
 4840,
 4845,
 4850,
 4855,
 4860,
 4865,
 4870,
 4875,
 4880,
 4885,
 4890,
 4895,
 4900,
 4905,
 4910,
 4915,
 4920,
 4925,
 4930,
 4935,
 4940,
 4945,
 4950,
 4955,
 4960,
 4965,
 4970,
 4975,
 4980,
 4985,
 4990,
 4995,
 ...]

In [18]:
five_times_table_lge = np.arange(0,5001,5)
five_times_table_lge

array([   0,    5,   10, ..., 4990, 4995, 5000])

In [19]:
%timeit five_times_table_lge + 5

1.32 µs ± 45.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [20]:
%timeit [e + 5 for e in fives_list]

67.2 µs ± 14.1 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Boolean string operations can also be performed on ndarrays.

In [21]:
words = np.array(["ten", "nine", "eight", "seven", "six"])

print(np.isin(words, 'e'))

print("e" in words)
["e" in word for word in words]

[False False False False False]
False

[True, True, True, True, False]

# Transpose

In [22]:
people.shape = (2, 6)
print(people, "\n")
print(people.T)

[[10  5  8 32 65 43]
 [32 18 26 60 55 65]]

[[10 32]
 [ 5 18]
 [ 8 26]
 [32 60]
 [65 55]
 [43 65]]

# Data Types

As previously mentioned, ndarrays can only have one data type. If we want to obtain or change this, we use the `.dtype` attribute.

In [23]:
people.dtype

dtype('int64')

What is the data type of the below ndarray?

In [24]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
ages_with_strings

array(['10', '5', '8', '32', '65', '43'], dtype='<U21')

What is the dtype of this array?

In [25]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'], dtype='int32')
ages_with_strings

array([10,  5,  8, 32, 65, 43], dtype=int32)

What do you think has happened here?

In [26]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)

['10' '5' '8' '32' '65' '43']

In [27]:
ages_with_strings.dtype = 'int32'
print(ages_with_strings)

[49 48  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 53  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 56  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 51 50  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0 54 53  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0 52 51  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0]

In [28]:
ages_with_strings.size

126

In [29]:
ages_with_strings.size/21

6.0

In [30]:
np.array([10, 5, 8, '32', '65', '43']).size

6

The correct way to have changed the data type of the ndarray would have been to use the `.astype()` method, demonstrated below.

In [31]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)
print(ages_with_strings.astype('int32'))

['10' '5' '8' '32' '65' '43']
[10  5  8 32 65 43]

## Exercise 2

* #### Create an array of string numbers, but use dtype to make it an array of floats.
* #### Transpose the matrix, printing the new size and shape.
* #### Use the .astype() method to convert the array to boolean.

In [57]:
str_arr = np.array(('1','2','3','4'), dtype='float32')
str_arr.dtype

dtype('float32')

In [58]:
tran_str_arr = np.arange(1,10)
tran_str_arr = tran_str_arr.reshape(3,3)

In [59]:
tran_str_arr.size

9

In [60]:
tran_str_arr.shape;

In [61]:
bool_str_arr = np.eye(5,dtype='int32')
bool_str_arr

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]], dtype=int32)

In [62]:
bool_str_arr.astype('bool') #Using the .astype() method to convert the array to boolean

array([[ True, False, False, False, False],
       [False,  True, False, False, False],
       [False, False,  True, False, False],
       [False, False, False,  True, False],
       [False, False, False, False,  True]])

## Array Slicing Operations

As before, we can use square brackets and indices to access individual values, and the colon operator to slice the array.

In [32]:
five_times_table

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

In [33]:
five_times_table[0]

0

In [34]:
five_times_table[-1]

50

In [35]:
five_times_table[:4]

array([ 0,  5, 10, 15])

In [36]:
five_times_table[4:]

array([20, 25, 30, 35, 40, 45, 50])

We can also slice an n-dim ndarray., specifying the slice operation accross each axis.

In [37]:
print(people)
people[:3, :3]

[[10  5  8 32 65 43]
 [32 18 26 60 55 65]]

array([[10,  5,  8],
       [32, 18, 26]])

### Exercise

* Create a numpy array with 50 zeros
* Create a np array of 2 repeated 20 times
* Create a numpy array from 0 to 2 $\pi$ in steps of 0.1

For one of the arrays generated:
* Get the first five values
* Get the last 3 values
* Get the 4th value to the 7th value

In [63]:
zero_arr = np.zeros(50, dtype='int32')
zero_arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int32)

In [65]:
zero_arr[0:5]

array([0, 0, 0, 0, 0], dtype=int32)

In [66]:
two_arr = np.repeat(2,20)
two_arr

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [67]:
two_arr[-3:]

array([2, 2, 2])

In [68]:
import math
step_arr = np.arange(0,2*(math.pi),0.1)
step_arr

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5. , 5.1,
       5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.2])

In [69]:
step_arr[4:8]

array([0.4, 0.5, 0.6, 0.7])

We can reverse an array by using `.flip()` or by using the `::` operator.

In [38]:
reverse_five_times_table = np.flip(five_times_table)
reverse_five_times_table

array([50, 45, 40, 35, 30, 25, 20, 15, 10,  5,  0])

In [39]:
reverse_five_times_table = five_times_table[-1::-1]
print(reverse_five_times_table)
five_times_table

[50 45 40 35 30 25 20 15 10  5  0]

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50])

We can also use the `::` operator to select steps of the original array.

In [40]:
five_times_table[0::3] #Every 3rd element starting from 0

array([ 0, 15, 30, 45])

### Exercise
Take one of the arrays you defined and
* #### Reverse it
* #### Only keep every 4th element.
* #### Get every 2nd element, starting from the last and moving backwards.

In [71]:
np.flip(step_arr) # to reverse

array([6.2, 6.1, 6. , 5.9, 5.8, 5.7, 5.6, 5.5, 5.4, 5.3, 5.2, 5.1, 5. ,
       4.9, 4.8, 4.7, 4.6, 4.5, 4.4, 4.3, 4.2, 4.1, 4. , 3.9, 3.8, 3.7,
       3.6, 3.5, 3.4, 3.3, 3.2, 3.1, 3. , 2.9, 2.8, 2.7, 2.6, 2.5, 2.4,
       2.3, 2.2, 2.1, 2. , 1.9, 1.8, 1.7, 1.6, 1.5, 1.4, 1.3, 1.2, 1.1,
       1. , 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1, 0. ])

In [72]:
step_arr[0::4]

array([0. , 0.4, 0.8, 1.2, 1.6, 2. , 2.4, 2.8, 3.2, 3.6, 4. , 4.4, 4.8,
       5.2, 5.6, 6. ])

In [73]:
step_arr[::-2]

array([6.2, 6. , 5.8, 5.6, 5.4, 5.2, 5. , 4.8, 4.6, 4.4, 4.2, 4. , 3.8,
       3.6, 3.4, 3.2, 3. , 2.8, 2.6, 2.4, 2.2, 2. , 1.8, 1.6, 1.4, 1.2,
       1. , 0.8, 0.6, 0.4, 0.2, 0. ])

# Stats

In [41]:
np.array([1.65432, 5.98765]).round(2)

array([1.65, 5.99])

In [74]:
nums = np.arange(0, 4, 0.2555)

### Exercise

* Compute min, max, sum, mean, median, variance, and standard deviation of the above array, all to to 2 decimal places.

In [75]:
print("min = ", np.min(nums).round(2))
print("max = ", np.max(nums).round(2))
print("sum = ", np.sum(nums).round(2))
print("mean = ", np.mean(nums).round(2))
print("median = ", np.median(nums).round(2))
print("var = ", np.var(nums).round(2))
print("std = ", np.std(nums).round(2))

min =  0.0
max =  3.83
sum =  30.66
mean =  1.92
median =  1.92
var =  1.39
std =  1.18

## Random

With `np.random`, we can generate a number of types of dataset, and create training data.

The below code simulates a fair coin toss.

In [44]:
flip = np.random.choice([0,1], 10)
flip

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0])

In [45]:
np.random.rand(10,20,9)

array([[[0.18733385, 0.92323441, 0.5153098 , ..., 0.06522004,
         0.46511499, 0.55231308],
        [0.15902856, 0.21729796, 0.88298599, ..., 0.38883168,
         0.46832295, 0.18263592],
        [0.41718417, 0.81701311, 0.05315668, ..., 0.30043052,
         0.25028079, 0.70639054],
        ...,
        [0.1601524 , 0.4497693 , 0.41280807, ..., 0.52124705,
         0.47882584, 0.80775448],
        [0.1733509 , 0.8112866 , 0.11901585, ..., 0.68661653,
         0.42712735, 0.83043414],
        [0.34298545, 0.39310848, 0.4001641 , ..., 0.01434843,
         0.54555485, 0.06061715]],

       [[0.90459625, 0.22144957, 0.66385429, ..., 0.03988535,
         0.63612353, 0.89342451],
        [0.24441019, 0.77741768, 0.90870623, ..., 0.05303771,
         0.38261543, 0.79974731],
        [0.13666158, 0.319558  , 0.83487186, ..., 0.27113103,
         0.14728523, 0.32795024],
        ...,
        [0.33504012, 0.8474584 , 0.38776906, ..., 0.34523237,
         0.09611025, 0.37073026],
        [0.38632929, 0.28725075, 0.18683173, ..., 0.29755867,
         0.85527312, 0.06468105],
        [0.56864393, 0.07065197, 0.26628677, ..., 0.77100717,
         0.70985316, 0.65792976]],

       [[0.88530447, 0.68290363, 0.54704475, ..., 0.08224526,
         0.85622578, 0.98068133],
        [0.36967099, 0.93562237, 0.48782611, ..., 0.10826701,
         0.52694267, 0.44147695],
        [0.63105584, 0.21351861, 0.20794401, ..., 0.0521468 ,
         0.29503419, 0.00641843],
        ...,
        [0.14731482, 0.27136238, 0.38498487, ..., 0.88279818,
         0.88342767, 0.43694245],
        [0.92919441, 0.04342258, 0.04119984, ..., 0.4905869 ,
         0.57648427, 0.73775349],
        [0.98497998, 0.22729977, 0.76189373, ..., 0.72205702,
         0.76020528, 0.16613489]],

       ...,

       [[0.92100573, 0.55834845, 0.20254859, ..., 0.88996393,
         0.30448203, 0.48481455],
        [0.99097483, 0.08274323, 0.88610936, ..., 0.01476417,
         0.91345507, 0.47587152],
        [0.37784114, 0.13907371, 0.60645805, ..., 0.48710692,
         0.28311519, 0.847641  ],
        ...,
        [0.69595865, 0.86344226, 0.00413134, ..., 0.85720852,
         0.81294861, 0.45093934],
        [0.50281005, 0.83077553, 0.9169332 , ..., 0.87618131,
         0.50478965, 0.0815308 ],
        [0.34271829, 0.06317157, 0.44499385, ..., 0.15769341,
         0.33244717, 0.22722897]],

       [[0.64400303, 0.83658949, 0.87586493, ..., 0.14921135,
         0.06404946, 0.95485219],
        [0.92243642, 0.90083154, 0.77781886, ..., 0.67484187,
         0.58181478, 0.5339338 ],
        [0.93679702, 0.44649379, 0.66639281, ..., 0.35454606,
         0.78270562, 0.79235168],
        ...,
        [0.41696242, 0.72976574, 0.74664343, ..., 0.20030422,
         0.64516098, 0.61808531],
        [0.78498012, 0.95957235, 0.81755208, ..., 0.03646687,
         0.18603638, 0.61749801],
        [0.10298872, 0.06678507, 0.99985952, ..., 0.20557947,
         0.00738896, 0.7931234 ]],

       [[0.61334505, 0.5362194 , 0.75668555, ..., 0.67005915,
         0.30647273, 0.12311993],
        [0.12486772, 0.1594659 , 0.98720339, ..., 0.17885187,
         0.84929374, 0.07650272],
        [0.60955869, 0.3154091 , 0.02265426, ..., 0.65131162,
         0.48676523, 0.05087307],
        ...,
        [0.91174017, 0.65927349, 0.5963076 , ..., 0.11652698,
         0.62928299, 0.03359849],
        [0.8020363 , 0.5653229 , 0.74532336, ..., 0.21094361,
         0.55640652, 0.00600614],
        [0.15898714, 0.74812729, 0.07708288, ..., 0.00792489,
         0.69380834, 0.91318199]]])

We can produce 1000 datapoints of a normally distributed data set by using `np.random.normal()`

In [46]:
mu, sigma = 0, 0.1 # mean and standard deviation
s = np.random.normal(mu, sigma, 1000)

### Exercise
* Simulate a six-sided dice using numpy.random.choice(), generate a list of values you would obtain from 10 throws.
* Simulate a two-sided coin toss that is NOT fair: it is twice as likely to have head than tails.

In [76]:
dice = np.random.choice(list(range(1,7)),10)
dice

array([2, 2, 3, 6, 1, 3, 5, 6, 2, 4])

In [79]:
flip_coin = np.random.choice(["H","H","T"],10)
flip_coin

array(['T', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'H'], dtype='<U1')