In [2]:
def sharmita(x,v):
  return x+v

In [3]:
sharmita(3,2)

5

In [4]:
sharmita('python', 'assignment')

'pythonassignment'

In [6]:
sharmita('python', 3)
#won't run as the two inputs are of different types

TypeError: ignored

In [5]:
sharmita('python', '3')
#this will run because now both the inputs are of same data types

'python3'

In [9]:
sharmi = open('pikachu.txt', 'wt') # to read/write/append , text mode or binary mode
sharmi.write(sharmita("hello","folks"))
sharmi.close()

In [11]:
sharmi

In [14]:
!wget https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv

--2022-09-07 06:21:18--  https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80005 (78K) [text/plain]
Saving to: ‘breastcancer_data.csv’

breastcancer_data.c 100%[===================>]  78.13K  --.-KB/s    in 0.002s

2022-09-07 06:21:18 (49.6 MB/s) - ‘breastcancer_data.csv’ saved [80005/80005]

In [15]:
!ls 
#returns the list of file names and directories in the path specified

breastcancer_data.csv  pikachu.txt  sample_data

In [16]:
import pandas  #importing pandas
dataframe = pandas.read_csv('breastcancer_data.csv', header=0)

In [17]:
dataframe

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
...,...,...,...,...,...,...,...,...,...,...,...
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

In [19]:
dataframe['fractal_dimension_mean']

0       0.07871
1       0.05667
2       0.05999
3       0.09744
4       0.05883
         ...
1133    0.05623
1134    0.05533
1135    0.05648
1136    0.07016
1137    0.05884
Name: fractal_dimension_mean, Length: 1138, dtype: float64

##LIST

In [20]:
snorlax = [5, 'friend', 0.96542, True,'hello folks']
snorlax

[5, 'friend', 0.96542, True, 'hello folks']

In [21]:
snorlax[3]

True

In [22]:
snorlax[-4]

'friend'

In [30]:
harry = ['Ron', 'Potter', 7, snorlax]

In [31]:
harry

['Ron', 'Potter', 7, [5, 'friend', 0.96542, True, 'hello folks']]

In [33]:
harry[3][-2]

True

In [35]:
fiction = [ 1, 5, 5, 5, 'Dumbledore', False, 2.25, 'HDFC']
fiction_set = set(fiction)  #converting list into set
fiction_set

{1, 2.25, 5, 'Dumbledore', False, 'HDFC'}

In [37]:
fiction_set[-4]

#As set is unindexed

TypeError: ignored

In [38]:
fiction_set2 = {snorlax}

#as list is indexed, it can't be unindexed

TypeError: ignored

In [40]:
fiction.pop(2)

5

##TUPLE

In [41]:
Ditto = (23,24,25)

In [43]:
print(fiction)
del fiction[0]
print(fiction)
#List can be edited

[1, 5, 5, 'Dumbledore', False, 2.25, 'HDFC']
[5, 5, 'Dumbledore', False, 2.25, 'HDFC']

In [44]:
del Ditto[0] 
#as tuple is not iterable

TypeError: ignored

In [45]:
Ditto[0] = 20
#Tuple is not editable once created

TypeError: ignored

In [51]:
Ditto.count(23)

1

In [53]:
psyduck = {0:'I', 1:'am', 2:'coming'}

In [54]:
psyduck[0]

'I'

In [56]:
psyduck.items()

dict_items([(0, 'I'), (1, 'am'), (2, 'coming')])

In [58]:
def divide(a,b):
  q = int(a/b) 
  r = a%b
  return q,r 

a,b = divide(9,7)
print(a,b)

1 2

In [59]:
eyebee = lambda x: x+273
eyebee(154)

427

In [61]:
simple_interest = lambda p,r,t: p*r*t/100
simple_interest(150,4,3)

18.0

In [62]:
for BB in [1,2,3,4,5,6]:
  print(BB)

1
2
3
4
5
6

In [63]:
for i in fiction:
  print(i)

5
5
Dumbledore
False
2.25
HDFC

In [64]:
wizard = len(fiction) -1
while(wizard>=0):
  print(fiction[wizard])
  wizard = wizard - 1

HDFC
2.25
False
Dumbledore
5
5

In [67]:
fiction_mix = [ str(i)+'hii' for i in fiction]
fiction_mix

['5hii', '5hii', 'Dumbledorehii', 'Falsehii', '2.25hii', 'HDFChii']

In [68]:
set_of_int = [ i for i in range(10)]
set_of_int

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
sqr = [ i*i for i in set_of_int]
sqr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
def mathpower(y):
  return lambda x: x**y 

sqr = mathpower(5)  # lambda x,5: x**5
cube = mathpower(10) # lambda x,10: x**10

In [73]:
sqr(2)

32

In [74]:
cube(3)

59049

In [ ]:
class pets:
  def cat(): #this function will NOT be a part of my classes
    return 'mew mew'
  def dog(this): # this function will be a part of my class
    return 'bhaw bhaw'

In [80]:
# OBJECT of a class
obj = pets() # new objects 
print(obj.dog()) # this should work
print(obj.cat()) # this should be an error

bhaw bhaw
mew mew

In [78]:
class pets:
  def cat(this): 
    return 'mew mew'
  def dog(this): 
    return 'bhaw bhaw'

In [79]:
# OBJECT of a class
obj = pets() 
print(obj.dog()) 
print(obj.cat())

bhaw bhaw
mew mew

In [88]:
class myself:
  def __init__(person):
    person.name = "sharmita"
    person.surname = "saha"
    person.age = 23
    person.agestatus = True
  def add(person, name, age):
    this.name = name
    this.age = age
  def details(person):
    return person.name, person.surname, person.age, ("mature" if person.agestatus==True else "Not mature")

In [89]:
About = myself()
About.details()

('sharmita', 'saha', 23, 'mature')

In [92]:
class trainees:
  def mul(this, x,y):
    return x*y
  def mul(this, x):
    return x*x

out = trainees()
print(out.mul(9)) # this should work
print(out.mul(9,4)) # this should NOT work! PREVIOUS DEF has been OVERRIDDEN by new def!!1

81

TypeError: ignored

In [93]:
emp_id = [1,2,3,4,5,6,7,8,8,8]
first_name = ['John','Paul','John','Paul','John','Paul','John','Paul','Rattatoo','Jojo']
# TABULAR-> relationship-> Associates columns together in form of ROWS
# DataFrame
import pandas as pd # panel dataframes
df = pd.DataFrame(
    {'emp_id':emp_id,
    'first_name':first_name}
)

In [94]:
df.loc[ 1:3, ['emp_id']]

   emp_id
1       2
2       3
3       4

In [96]:
df.iloc[ 1:3, [1]]

  first_name
1       Paul
2       John

In [98]:
df.iloc[:4, :]

   emp_id first_name
0       1       John
1       2       Paul
2       3       John
3       4       Paul

In [99]:
df.iloc[:5, :-1]

   emp_id
0       1
1       2
2       3
3       4
4       5

In [100]:
df.loc[-5:, ['emp_id']]

   emp_id
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       8
9       8

In [101]:
data_frame = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/CGI-DPplusPy/main/breastcancer_data.csv', header=0)

In [102]:
data_frame.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [103]:
data_frame.head(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883
5,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.2087,0.07613
6,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.1794,0.05742
7,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.2196,0.07451
8,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.2350,0.07389
9,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.2030,0.08243

In [105]:
data_frame.tail(10)

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
1128,93311,B,11.51,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.1388,0.06570
1129,93312,B,14.05,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.1537,0.06171
1130,93313,B,11.20,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.1060,0.05502
1131,93314,M,15.22,30.62,103.40,716.9,0.10480,0.20870,0.25500,0.2128,0.07152
1132,93315,M,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.2149,0.06879
1133,93316,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623
1134,93317,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533
1135,93318,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648
1136,93319,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016
1137,93320,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884

In [106]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1138 entries, 0 to 1137
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1138 non-null   int64
 1   diagnosis               1138 non-null   object
 2   radius_mean             1138 non-null   float64
 3   texture_mean            1138 non-null   float64
 4   perimeter_mean          1138 non-null   float64
 5   area_mean               1138 non-null   float64
 6   smoothness_mean         1138 non-null   float64
 7   compactness_mean        1138 non-null   float64
 8   concavity_mean          1138 non-null   float64
 9   symmetry_mean           1138 non-null   float64
 10  fractal_dimension_mean  1138 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 97.9+ KB

In [107]:
print(dir(data_frame))

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'area_mean', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compactness_mean', 'compare', 'concavity_mean', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diagnosis', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'fractal_dimension_mean', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'id', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'perimeter_mean', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'radius_mean', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'smoothness_mean', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'symmetry_mean', 'tail', 'take', 'texture_mean', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [109]:
comp = open('system.txt','wt')
print(comp.__dict__)

{'mode': 'wt'}

In [110]:
print(dir(comp))

['_CHUNK_SIZE', '__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_checkClosed', '_checkReadable', '_checkSeekable', '_checkWritable', '_finalizing', 'buffer', 'close', 'closed', 'detach', 'encoding', 'errors', 'fileno', 'flush', 'isatty', 'line_buffering', 'mode', 'name', 'newlines', 'read', 'readable', 'readline', 'readlines', 'reconfigure', 'seek', 'seekable', 'tell', 'truncate', 'writable', 'write', 'write_through', 'writelines']

In [111]:
data_frame.describe()

,id,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
count,1.138000e+03,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000,1138.000000
mean,1.523243e+07,14.127292,19.289649,91.969033,654.889104,0.096360,0.104341,0.088799,0.181162,0.062798
std,8.965268e+07,3.522499,4.299144,24.288293,351.759340,0.014058,0.052790,0.079685,0.027402,0.007057
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.106000,0.049960
25%,9.299525e+04,11.700000,16.170000,75.170000,420.300000,0.086370,0.064920,0.029560,0.161900,0.057700
50%,9.327950e+04,13.370000,18.840000,86.240000,551.100000,0.095870,0.092630,0.061540,0.179200,0.061540
75%,9.060125e+05,15.780000,21.800000,104.100000,782.700000,0.105300,0.130400,0.130700,0.195700,0.066120
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.304000,0.097440

In [112]:
data_frame.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1138.0,1.523243e+07,8.965268e+07,8670.00000,92995.25000,93279.50000,906012.50000,9.113205e+08
radius_mean,1138.0,1.412729e+01,3.522499e+00,6.98100,11.70000,13.37000,15.78000,2.811000e+01
texture_mean,1138.0,1.928965e+01,4.299144e+00,9.71000,16.17000,18.84000,21.80000,3.928000e+01
perimeter_mean,1138.0,9.196903e+01,2.428829e+01,43.79000,75.17000,86.24000,104.10000,1.885000e+02
area_mean,1138.0,6.548891e+02,3.517593e+02,143.50000,420.30000,551.10000,782.70000,2.501000e+03
smoothness_mean,1138.0,9.636028e-02,1.405794e-02,0.05263,0.08637,0.09587,0.10530,1.634000e-01
compactness_mean,1138.0,1.043410e-01,5.278953e-02,0.01938,0.06492,0.09263,0.13040,3.454000e-01
concavity_mean,1138.0,8.879932e-02,7.968474e-02,0.00000,0.02956,0.06154,0.13070,4.268000e-01
symmetry_mean,1138.0,1.811619e-01,2.740222e-02,0.10600,0.16190,0.17920,0.19570,3.040000e-01
fractal_dimension_mean,1138.0,6.279761e-02,7.057257e-03,0.04996,0.05770,0.06154,0.06612,9.744000e-02

In [115]:
residual = data_frame.iloc[:, 4:]
residual.head()

,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,122.80,1001.0,0.11840,0.27760,0.3001,0.2419,0.07871
1,132.90,1326.0,0.08474,0.07864,0.0869,0.1812,0.05667
2,130.00,1203.0,0.10960,0.15990,0.1974,0.2069,0.05999
3,77.58,386.1,0.14250,0.28390,0.2414,0.2597,0.09744
4,135.10,1297.0,0.10030,0.13280,0.1980,0.1809,0.05883

In [116]:
measure = residual.describe().T
mu = measure['mean']
sigma = measure['std']

In [118]:
normal_data = (residual - mu)/sigma

In [119]:
normal_data.head()

,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,symmetry_mean,fractal_dimension_mean
0,1.269376,0.983942,1.567777,3.282072,2.651708,2.216540,2.254756
1,1.685214,1.907869,-0.826599,-0.486858,-0.023835,0.001392,-0.868271
2,1.565815,1.558199,0.941796,1.052463,1.362879,0.939272,-0.397833
3,-0.592427,-0.764128,3.282110,3.401414,1.915055,2.866123,4.908761
4,1.775792,1.825427,0.280249,0.539103,1.370409,-0.009556,-0.562203